extends layout

block content
	.container-fluid
		.row
			.col-md-12
				.pull-right
					a(href='/logout') Logout
			.col-md-12
				h2= title
				ul
					each user, i in users
						li
							a(href='mailto:#{user.email}')= user.name